*{
    margin-top:0px;
    padding: 0px;
    font-family: sans-serif;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

table{
    margin-top: 80px; justify-content:center;
}

body{
    padding-bottom: 100px;
    background-color: #1f2641;
}

.container nav__container{
 
    margin-left:0;

}








